@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --primary: #FCA5A5;
    --black: #333333;
    /* --width-break:40rem; */
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

nav {
    background-color: var(--primary);
    text-align: center;
    /* position: relative; */
}

main {
    margin: auto;
    padding: 1rem;
    max-width: var(--width-break);
}

textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 50%;
    /* min-height: 20vh; */
    margin-top: 2rem;
    font-size: large;
    font-family: inherit;
    /* position: relative; */
}

button {
    background-color: var(--primary);
    border: none;
    margin: 4rem 0rem;
    padding: 1rem 2rem;
    font-family: 'Kalam', cursive;
    font-size: large;
}

#output {
    box-sizing: border-box;
    width: 100%;
    max-height: 20vh;
    border: 1px solid var(--black);
}

footer {
    position: fixed;
    margin: 0px 0px;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--primary);
    text-align: center;
}

footer p {
    
    margin: auto;
}